body {
    background-color: #F1F5F9;
	font-family: 'Pretendard', sans-serif;
	
}

.mp-wrap {
    text-align: center;
	margin-top: 150px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mp-box {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: left;
    transition: all 0.3s ease;
    width: 800px;
    height: 550px;
    margin-bottom: 150px;
}

.mp-user {
    margin-left: 60px;
    margin-top: 60px;
}

.mp-text {
    margin-top: 70px;
}

h2 {
    font-size: 30px;
}

.mp-uname {
    color: #8071FC;
    font-size: 30px;
    font-weight: 800;
    display: inline;
    margin-top: -10px;
    margin-left: 30px;
}

.mp-nim {
    font-size: 15px;
    font-weight: 500;
    display: inline;
}

.mp-user  img {
	width: 10%;
	margin-left: 30px;
}

.btn-out {
    font-size: 13px;
    color: #94A3B8;
    float: right;
    margin-right: 30px;
    margin-top: 80px;
    display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: white;
}

.btn-out:hover {
    color: black;
    cursor: pointer;
}

.edit-container {
	display: absolute;
    justify-content: center;
    align-items: center;
    margin: 30px;
    line-height: 1.6;
    letter-spacing: 1px; 
    line-height: 40px;   
    text-align: left;
    margin-top: 40px;
    margin-left: 100px;
}

.edit-container input {
	border: 1px solid #CBD5E1;
	border-radius: 5px;
	width: 200px;
	height: 25px;
	margin-left: 5px;
}

.edit-container input:focus {
	outline-color: #8071FC;
}

.pw-group2 {
	margin-rigth: 20px;
}


.btn-save > button {
	 border: none;
	 border-radius: 50px;
	 width: 80px;
	 height: 40px;
	 background: linear-gradient(to right, #8071FC, #ACA4F0);
	 color: white; 
	 margin-top: 30px;
	 float: left;
	 display: inline;
	 margin-left: 0px;
}

.btn-save > button:hover {
	color: black;
	transition: 0.4s;
}

.email-input {
	color: #94A3B8;
}
